# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env
.cfnoutputs.env
# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json
.DS_Store
coverage

# cypress
cypress/screenshots
cypress/videos
.vscode
cypress.env.json